.nav {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid grey;
}

.nav a {
  margin-inline-end: 2rem;
}

.nav a.active {
  outline: 1px dashed blueviolet;
  outline-offset: 2px;
}

footer {
  margin-top: 1rem;
  border-top: 1px solid grey;
}